<div class="row">
    <div class="col-md-12">
        <p>This page shows a how to check for console errors in a protractor.</p>
        <p>Clicking <span class="label label-primary">Error</span> button will result in a console error.</p>
        <p>Clicking <span class="label label-primary">Message</span> button will result in a console message.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Create error
            <p><button class="btn btn-primary btn-block" id="errorButton" ng-click="logError()">Error</button></p>
            <p><button class="btn btn-secondary btn-block" id="messageButton" ng-click="logMessage()">Message</button></p>
        </h2>
    </div>
</div>