<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>

    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Welcome to sgProtractorTools demo application.
    </p>

    <p><button class="btn btn-lg btn-success" ng-click="awesome()">Awesome! <span class="glyphicon" ng-class="'glyphicon-' + awesomeIcon"></span></button></p>
</div>
<div class="row">
    <div class="col-md-12">
        <p>This application offers example content and functionality to be tested with the sg-protractor-tools. Run
            tests with <code>grunt protractor</code>. Look at the <code>*.spec</code> files in the <code>test/e2e</code>
            folder on how to use sgpt in your protractor tests.</p>
    </div>
</div>
<section id="features">
    <div class="row">
        <div class="col-md-4 text-center">
            <a ng-href="#/scroll">
                <span class="glyphicon glyphicon-sort"></span>

                <h3>Scroll</h3>
            </a>

            <p>Scroll elements into visible area</p>
        </div>
        <div class="col-md-4 text-center">
            <a ng-href="#/resize">
                <span class="glyphicon glyphicon-fullscreen"></span>

                <h3>Resize</h3>
            </a>

            <p>Set the browser or viewport size during protractor tests</p>
        </div>
        <div class="col-md-4 text-center">
            <a ng-href="#/memoryTest">
                <span class="glyphicon glyphicon-tasks"></span>

                <h3>Memory</h3>
            </a>

            <p>Measure memory consumption during test cases and detect memory leaks</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <a ng-href="#/scroll">
                <span class="glyphicon glyphicon-tree-conifer"></span>

                <h3>DOM</h3>
            </a>

            <p>Wait until elements get visible before your test continues. Or until an elements becomes invisible</p>
        </div>
        <div class="col-md-4 text-center">
            <a ng-href="#/mouse">
                <span class="glyphicon glyphicon-hand-up"></span>

                <h3>Mouse</h3>
            </a>

            <p>Perform drag and drop with ease</p>
        </div>
        <div class="col-md-4 text-center">
            <a ng-href="#/consoleLogs">
                <span class="glyphicon glyphicon-th-list"></span>

                <h3>Console</h3>
            </a>

            <p>Test for console errors in the afterEach() method</p>

        </div>
        <div class="col-md-4 text-center">
            <span class="glyphicon glyphicon-icon-notes"></span>

            <h3>More</h3>

            <p>Coming soon...</p>
        </div>
    </div>
</section>