<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Memory Leak Directive Area</h3>
    </div>
    <div class="panel-body">
        <div id="memoryContainer">
            <memory-directive leak="false"></memory-directive>
        </div>
    </div>
</div>


<button id="m_1" type="button" ng-click="produceNonLeaking()" class="btn btn-success">Create non leaking directive
</button>
<button id="leakProducer" type="button" ng-click="produceLeak()" class="btn btn-danger">Produce Leak</button>

<div id="lorem" class="row">
<div class="col-md-12">
<p>Pressing the <span class="label label-danger">Produce Leak</span> button will replace the current directive present
    in the above panel with a new directive of the same type. The memoryDirective implementation produces a
    memory leak based on the attributes passed.</p>

<p>Pressing the <span class="label label-success">Create non leaking directive</span> button will replace the directive
    with a new directive of the same type that cleans up registered event listeners and thus does not leak memory. </p>

<p>Lorem ipsum dolor sit amet, eos ad altera equidem tibique, eum tollit regione abhorreant te. Et reque
    fabellas accommodare est. Invenire definiebas id nec, sea meis dolor principes cu. Consul cetero impetus mei
    id, in cum detracto contentiones. Nec id iracundia gloriatur. No mea pertinax intellegam.</p>

<p>Decore invenire ex qui, eu nec antiopam iudicabit. Diam volutpat elaboraret vix ex, at sonet incorrupte sea.
    Vel justo placerat at, mea te utinam semper rationibus. Ne vis iudico suscipit menandri.</p>

<p>Per oportere consetetur intellegam ea, populo tacimates et usu, eu sonet debitis sit. Ei eam denique voluptua
    elaboraret. Pro id ceteros menandri ocurreret. Vim habeo dissentias appellantur an. Id consul eruditi
    docendi est.</p>

<p>Stet epicuri dissentiet ut quo, pro an quod intellegat. Id deseruisse adipiscing quo. Reque idque ex quo.
    Ridens volutpat reprimique pro ea, eum ad possim definiebas, quas vitae constituto eu usu.</p>

<p>Pri quando veritus disputationi ad, quo ex exerci tempor concludaturque. His ea omnis insolens adipiscing, at
    everti verear vis. Qui simul tantas suavitate ex, ut dicta saepe persequeris vel, per summo consetetur cu.
    Ea sit copiosae honestatis, mutat tation ne est, convenire imperdiet dissentias ut pro.</p>

<p>Nusquam intellegam cu cum. Doming delectus sea ex, an eos deserunt concludaturque. Ius antiopam sapientem
    maiestatis ad, has at erat facer delenit. Vocent aliquam repudiandae cum ut, graeco tritani disputationi ex
    pri.</p>

<p>Ullum integre contentiones est no. In fugit omnium mel, cu soleat laboramus mea. Usu inani veritus fuisset
    te, duis consequuntur vis id. Wisi scriptorem at vix. Adhuc possit repudiandae ius ea. Modus ubique
    instructior ex qui, exerci comprehensam cu qui. Ad vidit mazim tincidunt quo.</p>

<p>Epicuri voluptua at vis, cum cu tale voluptua deseruisse, labitur luptatum id usu. Ex solum voluptatum est,
    ornatus pericula ullamcorper est ne. Paulo vituperata no mea. Sea ad persius tibique contentiones, vix in
    eros inciderint, pri ex tibique recusabo eleifend. Diceret volumus ea cum, at agam causae explicari vix.</p>

<p>Oportere rationibus sea et, dolore possit commune sit ex. In quot consulatu sententiae vim. Aperiam omittam
    gloriatur te his. Quo eu legimus veritus, eu est minim docendi consetetur. Meis timeam prodesset mel cu,
    sumo magna conceptam quo ad. Ea sale meliore eos, his munere soluta id, dicta causae no eum.</p>

<p>Ferri euismod graecis eu eos. Id nostrud electram nam. Munere alterum vivendo an cum, detracto gloriatur
    theophrastus id cum. Partiendo tincidunt et quo, ne novum postulant constituam vix.</p>

<p>Adhuc accusata his cu, ne mel eirmod aeterno. Alia partem per ne, ad mei tation facilisis, nisl reque et vix.
    Eu aeque aperiri docendi mei, id cum tibique honestatis. At atqui mollis mel. Et facete constituto nec.</p>

<p>Eruditi volumus hendrerit eos te, vim errem recusabo signiferumque ne. Sea malis persius labitur in, soluta
    dicunt option pri ad. Eu novum choro electram sed, te munere semper mea. Has no dolorum legimus
    reprimique.</p>

<p>Mea no indoctum vulputate. Ad congue nonumy facilis pro, nibh feugait consequuntur te cum. Pri te quod omnis
    mediocrem. Ei vocibus lucilius perpetua quo, hinc simul ut nam. Et iuvaret alienum euripidis duo.</p>

<p>Sonet aliquam fierent eum ea, meis posse habemus ut vix. Fugit facilisi complectitur sed ex, no alia
    convenire sea, molestie epicurei sed ad. Mel choro recusabo maiestatis ea, at eum fugit appareat. No per
    tempor doctus feugiat. Mucius maiorum vivendum vix id. Ius aeque docendi mediocritatem ex, ipsum platonem
    has at.</p>

<p>At probo petentium vim. Sit at qualisque delicatissimi, pri elit labitur aliquid no. No duo partem prodesset,
    sed an ubique deleniti intellegam. An nam oporteat mandamus inciderint. Mea at vitae facilisi repudiare.</p>

<p>Sale elaboraret in est, pri in discere referrentur. Ad nisl nullam ponderum qui, ea usu quidam conceptam
    scripserit. Prima facete sit ei, no mea possim eruditi, malis decore eripuit his an. Corrumpit torquatos et
    mel, ea has primis petentium.</p>

<p>Ei esse erroribus adipiscing eam, mundi delicata rationibus vix in. Debitis nostrum usu ne, ut debitis
    dolorem qui, iuvaret molestie pertinacia nec id. Vivendum dissentiet eu vis. Sonet recteque urbanitas in
    his, ei mea alii veri nostro.</p>

<p>Mea an possim detracto. Albucius epicurei delectus ne usu. Molestiae laboramus in pri, vix facer possim
    molestie ex. Ad omnis ornatus pri, ponderum partiendo in per, ea ullum dolores salutatus qui. Eam in esse
    complectitur, ea scripta probatus usu, ius no iriure adipisci eloquentiam. Ea vitae ceteros placerat vel, cu
    vocent nostrud suscipit quo.</p>

<p>Vim novum delicata aliquando no, quis facete laoreet no his. Eos tritani intellegebat cu, vix ex decore
    laudem. At cum minim tamquam tacimates, agam iudicabit an per. Vel quod modus fugit ea, singulis invenire
    philosophia at usu. Tempor docendi eloquentiam sit ad, nam ad vero sonet. Probo consetetur vituperata ei
    nam, qui cu eruditi pericula.</p>

<p>Nostro causae diceret te mea, cum etiam consul iriure ut. Vis no utamur oportere, saepe impedit contentiones
    cum ex. Id soleat mucius mei, usu cetero consequat ut. Quo no iracundia persecuti, sed ea possim impetus
    singulis, vel in vide aliquid.</p>

<p>Lorem ipsum dolor sit amet, eos ad altera equidem tibique, eum tollit regione abhorreant te. Et reque
    fabellas accommodare est. Invenire definiebas id nec, sea meis dolor principes cu. Consul cetero impetus mei
    id, in cum detracto contentiones. Nec id iracundia gloriatur. No mea pertinax intellegam.</p>

<p>Decore invenire ex qui, eu nec antiopam iudicabit. Diam volutpat elaboraret vix ex, at sonet incorrupte sea.
    Vel justo placerat at, mea te utinam semper rationibus. Ne vis iudico suscipit menandri.</p>

<p>Per oportere consetetur intellegam ea, populo tacimates et usu, eu sonet debitis sit. Ei eam denique voluptua
    elaboraret. Pro id ceteros menandri ocurreret. Vim habeo dissentias appellantur an. Id consul eruditi
    docendi est.</p>

<p>Stet epicuri dissentiet ut quo, pro an quod intellegat. Id deseruisse adipiscing quo. Reque idque ex quo.
    Ridens volutpat reprimique pro ea, eum ad possim definiebas, quas vitae constituto eu usu.</p>

<p>Pri quando veritus disputationi ad, quo ex exerci tempor concludaturque. His ea omnis insolens adipiscing, at
    everti verear vis. Qui simul tantas suavitate ex, ut dicta saepe persequeris vel, per summo consetetur cu.
    Ea sit copiosae honestatis, mutat tation ne est, convenire imperdiet dissentias ut pro.</p>

<p>Nusquam intellegam cu cum. Doming delectus sea ex, an eos deserunt concludaturque. Ius antiopam sapientem
    maiestatis ad, has at erat facer delenit. Vocent aliquam repudiandae cum ut, graeco tritani disputationi ex
    pri.</p>

<p>Ullum integre contentiones est no. In fugit omnium mel, cu soleat laboramus mea. Usu inani veritus fuisset
    te, duis consequuntur vis id. Wisi scriptorem at vix. Adhuc possit repudiandae ius ea. Modus ubique
    instructior ex qui, exerci comprehensam cu qui. Ad vidit mazim tincidunt quo.</p>

<p>Epicuri voluptua at vis, cum cu tale voluptua deseruisse, labitur luptatum id usu. Ex solum voluptatum est,
    ornatus pericula ullamcorper est ne. Paulo vituperata no mea. Sea ad persius tibique contentiones, vix in
    eros inciderint, pri ex tibique recusabo eleifend. Diceret volumus ea cum, at agam causae explicari vix.</p>

<p>Oportere rationibus sea et, dolore possit commune sit ex. In quot consulatu sententiae vim. Aperiam omittam
    gloriatur te his. Quo eu legimus veritus, eu est minim docendi consetetur. Meis timeam prodesset mel cu,
    sumo magna conceptam quo ad. Ea sale meliore eos, his munere soluta id, dicta causae no eum.</p>

<p>Ferri euismod graecis eu eos. Id nostrud electram nam. Munere alterum vivendo an cum, detracto gloriatur
    theophrastus id cum. Partiendo tincidunt et quo, ne novum postulant constituam vix.</p>

<p>Adhuc accusata his cu, ne mel eirmod aeterno. Alia partem per ne, ad mei tation facilisis, nisl reque et vix.
    Eu aeque aperiri docendi mei, id cum tibique honestatis. At atqui mollis mel. Et facete constituto nec.</p>

<p>Eruditi volumus hendrerit eos te, vim errem recusabo signiferumque ne. Sea malis persius labitur in, soluta
    dicunt option pri ad. Eu novum choro electram sed, te munere semper mea. Has no dolorum legimus
    reprimique.</p>

<p>Mea no indoctum vulputate. Ad congue nonumy facilis pro, nibh feugait consequuntur te cum. Pri te quod omnis
    mediocrem. Ei vocibus lucilius perpetua quo, hinc simul ut nam. Et iuvaret alienum euripidis duo.</p>

<p>Sonet aliquam fierent eum ea, meis posse habemus ut vix. Fugit facilisi complectitur sed ex, no alia
    convenire sea, molestie epicurei sed ad. Mel choro recusabo maiestatis ea, at eum fugit appareat. No per
    tempor doctus feugiat. Mucius maiorum vivendum vix id. Ius aeque docendi mediocritatem ex, ipsum platonem
    has at.</p>

<p>At probo petentium vim. Sit at qualisque delicatissimi, pri elit labitur aliquid no. No duo partem prodesset,
    sed an ubique deleniti intellegam. An nam oporteat mandamus inciderint. Mea at vitae facilisi repudiare.</p>

<p>Sale elaboraret in est, pri in discere referrentur. Ad nisl nullam ponderum qui, ea usu quidam conceptam
    scripserit. Prima facete sit ei, no mea possim eruditi, malis decore eripuit his an. Corrumpit torquatos et
    mel, ea has primis petentium.</p>

<p>Ei esse erroribus adipiscing eam, mundi delicata rationibus vix in. Debitis nostrum usu ne, ut debitis
    dolorem qui, iuvaret molestie pertinacia nec id. Vivendum dissentiet eu vis. Sonet recteque urbanitas in
    his, ei mea alii veri nostro.</p>

<p>Mea an possim detracto. Albucius epicurei delectus ne usu. Molestiae laboramus in pri, vix facer possim
    molestie ex. Ad omnis ornatus pri, ponderum partiendo in per, ea ullum dolores salutatus qui. Eam in esse
    complectitur, ea scripta probatus usu, ius no iriure adipisci eloquentiam. Ea vitae ceteros placerat vel, cu
    vocent nostrud suscipit quo.</p>

<p>Vim novum delicata aliquando no, quis facete laoreet no his. Eos tritani intellegebat cu, vix ex decore
    laudem. At cum minim tamquam tacimates, agam iudicabit an per. Vel quod modus fugit ea, singulis invenire
    philosophia at usu. Tempor docendi eloquentiam sit ad, nam ad vero sonet. Probo consetetur vituperata ei
    nam, qui cu eruditi pericula.</p>

<p>Nostro causae diceret te mea, cum etiam consul iriure ut. Vis no utamur oportere, saepe impedit contentiones
    cum ex. Id soleat mucius mei, usu cetero consequat ut. Quo no iracundia persecuti, sed ea possim impetus
    singulis, vel in vide aliquid.</p>

<p>Lorem ipsum dolor sit amet, eos ad altera equidem tibique, eum tollit regione abhorreant te. Et reque
    fabellas accommodare est. Invenire definiebas id nec, sea meis dolor principes cu. Consul cetero impetus mei
    id, in cum detracto contentiones. Nec id iracundia gloriatur. No mea pertinax intellegam.</p>

<p>Decore invenire ex qui, eu nec antiopam iudicabit. Diam volutpat elaboraret vix ex, at sonet incorrupte sea.
    Vel justo placerat at, mea te utinam semper rationibus. Ne vis iudico suscipit menandri.</p>

<p>Per oportere consetetur intellegam ea, populo tacimates et usu, eu sonet debitis sit. Ei eam denique voluptua
    elaboraret. Pro id ceteros menandri ocurreret. Vim habeo dissentias appellantur an. Id consul eruditi
    docendi est.</p>

<p>Stet epicuri dissentiet ut quo, pro an quod intellegat. Id deseruisse adipiscing quo. Reque idque ex quo.
    Ridens volutpat reprimique pro ea, eum ad possim definiebas, quas vitae constituto eu usu.</p>

<p>Pri quando veritus disputationi ad, quo ex exerci tempor concludaturque. His ea omnis insolens adipiscing, at
    everti verear vis. Qui simul tantas suavitate ex, ut dicta saepe persequeris vel, per summo consetetur cu.
    Ea sit copiosae honestatis, mutat tation ne est, convenire imperdiet dissentias ut pro.</p>

<p>Nusquam intellegam cu cum. Doming delectus sea ex, an eos deserunt concludaturque. Ius antiopam sapientem
    maiestatis ad, has at erat facer delenit. Vocent aliquam repudiandae cum ut, graeco tritani disputationi ex
    pri.</p>

<p>Ullum integre contentiones est no. In fugit omnium mel, cu soleat laboramus mea. Usu inani veritus fuisset
    te, duis consequuntur vis id. Wisi scriptorem at vix. Adhuc possit repudiandae ius ea. Modus ubique
    instructior ex qui, exerci comprehensam cu qui. Ad vidit mazim tincidunt quo.</p>

<p>Epicuri voluptua at vis, cum cu tale voluptua deseruisse, labitur luptatum id usu. Ex solum voluptatum est,
    ornatus pericula ullamcorper est ne. Paulo vituperata no mea. Sea ad persius tibique contentiones, vix in
    eros inciderint, pri ex tibique recusabo eleifend. Diceret volumus ea cum, at agam causae explicari vix.</p>

<p>Oportere rationibus sea et, dolore possit commune sit ex. In quot consulatu sententiae vim. Aperiam omittam
    gloriatur te his. Quo eu legimus veritus, eu est minim docendi consetetur. Meis timeam prodesset mel cu,
    sumo magna conceptam quo ad. Ea sale meliore eos, his munere soluta id, dicta causae no eum.</p>

<p>Ferri euismod graecis eu eos. Id nostrud electram nam. Munere alterum vivendo an cum, detracto gloriatur
    theophrastus id cum. Partiendo tincidunt et quo, ne novum postulant constituam vix.</p>

<p>Adhuc accusata his cu, ne mel eirmod aeterno. Alia partem per ne, ad mei tation facilisis, nisl reque et vix.
    Eu aeque aperiri docendi mei, id cum tibique honestatis. At atqui mollis mel. Et facete constituto nec.</p>

<p>Eruditi volumus hendrerit eos te, vim errem recusabo signiferumque ne. Sea malis persius labitur in, soluta
    dicunt option pri ad. Eu novum choro electram sed, te munere semper mea. Has no dolorum legimus
    reprimique.</p>

<p>Mea no indoctum vulputate. Ad congue nonumy facilis pro, nibh feugait consequuntur te cum. Pri te quod omnis
    mediocrem. Ei vocibus lucilius perpetua quo, hinc simul ut nam. Et iuvaret alienum euripidis duo.</p>

<p>Sonet aliquam fierent eum ea, meis posse habemus ut vix. Fugit facilisi complectitur sed ex, no alia
    convenire sea, molestie epicurei sed ad. Mel choro recusabo maiestatis ea, at eum fugit appareat. No per
    tempor doctus feugiat. Mucius maiorum vivendum vix id. Ius aeque docendi mediocritatem ex, ipsum platonem
    has at.</p>

<p>At probo petentium vim. Sit at qualisque delicatissimi, pri elit labitur aliquid no. No duo partem prodesset,
    sed an ubique deleniti intellegam. An nam oporteat mandamus inciderint. Mea at vitae facilisi repudiare.</p>

<p>Sale elaboraret in est, pri in discere referrentur. Ad nisl nullam ponderum qui, ea usu quidam conceptam
    scripserit. Prima facete sit ei, no mea possim eruditi, malis decore eripuit his an. Corrumpit torquatos et
    mel, ea has primis petentium.</p>

<p>Ei esse erroribus adipiscing eam, mundi delicata rationibus vix in. Debitis nostrum usu ne, ut debitis
    dolorem qui, iuvaret molestie pertinacia nec id. Vivendum dissentiet eu vis. Sonet recteque urbanitas in
    his, ei mea alii veri nostro.</p>

<p>Mea an possim detracto. Albucius epicurei delectus ne usu. Molestiae laboramus in pri, vix facer possim
    molestie ex. Ad omnis ornatus pri, ponderum partiendo in per, ea ullum dolores salutatus qui. Eam in esse
    complectitur, ea scripta probatus usu, ius no iriure adipisci eloquentiam. Ea vitae ceteros placerat vel, cu
    vocent nostrud suscipit quo.</p>

<p>Vim novum delicata aliquando no, quis facete laoreet no his. Eos tritani intellegebat cu, vix ex decore
    laudem. At cum minim tamquam tacimates, agam iudicabit an per. Vel quod modus fugit ea, singulis invenire
    philosophia at usu. Tempor docendi eloquentiam sit ad, nam ad vero sonet. Probo consetetur vituperata ei
    nam, qui cu eruditi pericula.</p>

<p>Nostro causae diceret te mea, cum etiam consul iriure ut. Vis no utamur oportere, saepe impedit contentiones
    cum ex. Id soleat mucius mei, usu cetero consequat ut. Quo no iracundia persecuti, sed ea possim impetus
    singulis, vel in vide aliquid.</p>
</div>
</div>


